<view-title>Réninitialisation du mot de passe</view-title>

<div class="page">
    <div class="white-part">
        <div class="container">
            <!-- nav-->
            <div class="main-content"></div>
            <!-- end nav-->

            <div class="container">
                <!-- sidebar -->
                <div class="sidebar">
                    <div class="ad-banner">
                        <!--<div id="4843873"></div>-->
                        <div data-ng-dfp-ad="div-gpt-ad-1426258733475-0"></div>
                    </div>
                </div>
                <!-- end sidebar -->
                <div class="main-content">
                    <div class="profile-page">
                        <h3>Réninitialisation du mot de passe</h3>

                        <p>Entrez votre mot de passe</p>

                        <div class="sign-register">
                            <div class="left-input">
                                <h5>Réinitialisez votre mot de passe</h5>

                                <form class="profile-update">
                                    <input type="password" placeholder="Mot de passe" ng-model="password" required>
                                    <input type="password" placeholder="Mot de passe (Confirmation)"
                                           ng-model="passwordC" required>
                                    <input type="submit" value="Réinitialiser mon mot de passe"
                                           ng-click="resetPassword(password, passwordC)">
                                </form>

                                <div class="clearfix"></div>
                                <div class="logo-sign-in"><img src="images/logo-contact.png" alt=""/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>